<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
    <h1>Hello and Welcome</h1>
    <h1>{{message}}</h1>

    <form method="POST" id="submitForm">
        <label for="numberInput">Enter an email:</label>
        <input type="text" id="emailInput" >
        <br>

        <label for="numberInput">Enter a password:</label>
        <input type="text" id="passwordInput" >
        <br>

        <button type="button" onclick="signup()">Sign Up</button>
        <button type="button" onclick="login()">Log in</button>
    </form>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>